.pagination-previous-button > button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  margin: 0px 10px 0 10px;
  font-weight: bold;
}

.pagination-next-button > button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px 10px 20px;
  margin: 0px 10px 0 10px;
  font-weight: bold;
  border-radius: 5px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pagination-page-number {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s;
}
