.pagination-container {
  display: flex;
  background-color: #f0eeee;
  padding: 10px 0 10px 0px;
}

.pagination-page-number {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  transition: 0.3s;
}
