.ticket-details-tile {
  background-color: #f0eeee;
  border: 1px solid #000000;
  margin: 25px 0 10px 0;
}

.ticket-details-tile > h1 {
  font-size: 25px;
  font-weight: 600;
  margin-left: 28px;
}

.ticket-details-tile-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.ticket-details-tile-summary-container {
  width: 48%;
  margin: 0 30px 0 30px;
}
.ticket-details-tile-project-container {
  width: 48%;
  margin: 0 30px 0 30px;
}

.ticket-details-tile-summary-container > h4 {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 25px;
  margin-top: 10px;
  padding: 10px 30px 3px 10px;
  background-color: white;
  height: 30px;
  font-weight: 100;
  font-size: 15px;
}

.ticket-details-tile-summary-container > h4:nth-of-type(2) {
  height: 68%;
}

.ticket-details-tile-summary-container > label {
  font-size: 16px;
  font-weight: 600;
}

.ticket-details-tile-project-container > label {
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
}

.ticket-details-tile-project-container > h4 {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 25px;
  margin-top: 12px;
  background-color: white;
  font-size: 15px;

  padding: 10px 30px 3px 10px;
  height: 30px;
  font-weight: 100;
}

.ticket-details-tile-button-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 20px 0;
}

.ticket-details-tile-button-container > :nth-of-type(1) {
  background-color: #86a48c;
  color: white;
  width: 47%;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 16px;
  font-weight: 500;
}

.ticket-details-tile-button-container > :nth-of-type(2) {
  background-color: #d06c78;
  color: white;
  width: 47%;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
}

.ticket-form-button-container {
    display: flex;
    margin: 10px 30px 10px 30px
}