.all-tickets-table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

.all-tickets-row > th {
  /* text-align: right; */
  padding: 8px;
  border: 1px solid #ddd;
}

.all-tickets-table-header {
  background-color: #3b3838cc;
  color: white;
}
