.project-list-pill {
  color: white;
  font-weight: 600;
  font-size: 14px;
  border-radius: 2rem;
  display: inline-block;
  padding: 7px 15px 7px 15px;
  margin-left: 10px;
}
.projects--table-text {
  font-size: 14px;
  font-weight: 600;
  padding-left: 10px;
}

.project-list-pill.members {
  background-color: #58c2d9;
}

.project-list-pill.tickets {
  background-color: #586467;
}
