.all-projects-table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

.all-projects-row > th {
  padding: 8px;
  padding-left: 10px;
  border: 1px solid #ddd;
}

.all-projects-row > th:nth-of-type(4) {
  width: 160px;
}

.all-projects-row > th:nth-of-type(4),
th:nth-of-type(5) {
  text-align: center;
}

.all-projects-row > td:nth-of-type(4),
td:nth-of-type(5) {
  text-align: center;
}

.all-projects-row > td {
  border: 1px solid #d1d0d0;
  padding-left: -10px;
}

.all-projects-table-header {
  background-color: #3b3838cc;
  color: white;
}

.all-projects-table tbody tr:nth-child(even) td {
  background-color: #dfdede;
}
.all-projects-table tbody tr:nth-child(odd) td {
  background-color: #f0eeee;
}

.all-projects-row > td:nth-of-type(6) {
  width: 10px;
}

.all-projects-row > th:nth-of-type(6) {
  width: 10px;
}
