.project-details-tile-container {
  background-color: #f0eeee;
  border: 1px solid black;
  /* margin-top: 25px; */
}

.project-details-tile-container > h1 {
  font-size: 25px;
  font-weight: 600;
  margin-left: 28px;
}

.project-details-tile-container > h1 {
  font-size: 25px;
  font-weight: 600;
}

.project-details-tile-data-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.project-details-tile-details-container {
  width: 48%;
  margin: 0 30px 0 30px;
}
.project-details-tile-members-container {
  width: 48%;
  margin: 0 30px 0 30px;
}

.project-details-tile-details-container > h4 {
  margin-bottom: 25px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  font-weight: 100;
  border: 1px solid black;
  background-color: white;
}

.project-details-tile-details-container > label {
  font-weight: 600;
}

.project-details-tile-members-container > label {
  font-weight: 600;
  display: inline-block;
  margin-bottom: 5px;
}

.project-details-tile-button-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 20px 0;
}

.project-details-tile-button-container > :nth-of-type(1) {
  background-color: #86a48c;
  color: white;
  width: 47%;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 16px;
  font-weight: 500;
}

.project-details-tile-button-container > :nth-of-type(2) {
  background-color: #d06c78;
  color: white;
  width: 47%;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
}
