.all-projects-table {
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  background-color: #f0eeee;
}

.all-projects-row > th {
  padding: 8px;
  border: 1px solid #ddd;
}

.all-projects-table-header {
  background-color: #3b3838cc;
  color: white;
}

.all-projects-table tbody tr:nth-child(even) td {
  background-color: #dfdede;
}
