.kanban-board-container {
  background-color: #f0eeee;
  border: 1px solid black;
}

.kanban-board-board-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
  margin: 0;
}

.kanban-board-title-container {
  padding: 10px 20px 0px 20px;
  text-align: center;
}
